<br/>

    <div class="row">
        <div class="col-md-4" style="text-align:left">
            <a class="text-muted" href="#">Subscribe</a>
        </div>
        <div class="col-md-4" style="text-align:center">
            <h1 class="header_font">Large</h1>
         </div>
          <div class="col-md-4" style="text-align:right">
            <a class="text-muted" href="#" >
              	<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
            </a>
            <button type="button" class="btn btn-default">Sign up</button>
          </div>
    </div>
 