.header_font, h2.block-title {
	font-family: "Playfair Display", Georgia, "Times New Roman", serif;
	font-weight:bold;
	font-style: italic!important
}
p,.pi{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10;
}
.menu_font{
	color: #95A5A6;
	font-size: 15;
}
#admin-menu-wrapper a{
font-size:16px;
}
div.jumbotron{
	background-color: #343a40!important;
	color: #fff!important;
}
.jumbotron h1, .jumbotron .h1 {
    font-size: 45px;
}
